
.owl-theme .owl-dots{
    display: none;
}
 
.owl-carousel .owl-nav button.owl-prev{
    background: #000;
    height: 50px;
    width: 50px;
    color: red;
    border: none;
    padding: 0!important;
    font: inherit;
    font-size: 2rem;
    
}
.owl-carousel .owl-nav button.owl-next{
    background: 0 0;
    color: red !important;
    border: none;
    padding: 0!important;
    font: inherit;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    background: #000;
    
}
.owl-carousel .owl-nav button.owl-prev:hover{
    color: blue;
    background-color: #000;
}
.owl-carousel .owl-nav button.owl-next:hover{
    color: blue;
    background-color: #000;
}
.item{
    background-color: #F7BA4D;
    padding: 10px 15px;
    text-align: center;
}
.img37{
    height: 200px;
    margin-bottom: 20px;
    margin-top: 24px;
}
.img38{
    height: 330px;
}
.load_more{
    background-color: #F7BA4D;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    

}
.load{
    color: #000;
    text-decoration: none;
    
}
.active1{
    color: #fff !important;
}
.owl1{
    margin-top: 100px;
}





.navbar{
    max-width: 1500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1) !important;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.5);
    border-bottom: 0.313rem solid #F7BA4D;
}

.dropdown-menu{
    background-color: #F7BA4D;
}
.hover_nav{
    color: #000 !important;
}
.hover_nav:hover{
    color: #F7BA4D !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.menu_phone {
    background-color: #F7BA4D;
    width: 25px;
    height: 25px;
    margin-top: 7px;
    position: relative;
    border-radius: 5px;
}
.bi-telephone-fill {
    position: absolute;
    top: 2px;
    font-size: 14px;
    left: 5px;
}
.menu_contact{
    background-color: #F7BA4D;
    width:100px;
    text-align: center;
    border-radius: 5px;
}
.contact_nav{
    color: #fff !important;
}
.active{
    color: #fff !important;
    background-color: #F7BA4D !important;
}
@media screen and (max-width:767px){
    .img34{
        margin-top: 1rem;
    }
    
}

@media screen and (max-width:991px){
    #number{
        margin-left: 1.938rem !important;
        margin-top: -2.125rem !important;
    }
}